  {% extends "includes/base.html.twig" %}

    {% block content %}
    <div class="contacts">
        <header class="contacts-header">
          <h1 class="contacts-title center">My Contacts</h1>
        </header>
        <ul class="contact-list">
          {% for contact in contacts %}
          <li>
            <img src="{{ contact.thumbnail }}" alt="{{ contact.name }}">
            <div class="contact-info">
              <h2 class="heading--name">
                <a href="{{ contact.url }}">
                  {{ contact.name }}
                </a>
               </h2>
               <div class="contact-item">{{ contact.company}}</div>
            </div>
          </li>
          {% endfor %}
        </ul>
    </div>
    {% endblock %}
